#
# SPDX-FileCopyrightText: The Wildroid Project
# SPDX-License-Identifier: Apache-2.0
#

import /vendor/etc/init/hw/init.mainline.rc

# Display
on early-init
    setprop ro.sf.lcd_density ${ro.boot.lcd_density:-160}

on property:ro.hardware.gralloc=default && property:sys.bootstat.first_boot_completed=1
    write /sys/class/vtconsole/vtcon0/bind 0
    write /sys/class/vtconsole/vtcon1/bind 0

# Light
service vendor.light-default /vendor/bin/hw/android.hardware.light-service.lineage
    class hal
    user root
    group root
    shutdown critical
    override

# Mount
on init
    mkdir /mnt/vendor/vendor-overlayfs-upperdir
    mkdir /mnt/vendor/vendor-overlayfs-workdir
    mount overlay overlay /vendor rw lowerdir=/vendor,upperdir=/mnt/vendor/vendor-overlayfs-upperdir,workdir=/mnt/vendor/vendor-overlayfs-workdir

on fs
    # Mount everything that does not require fsck
    mount_all --early

on late-fs
    # Mount RW partitions which need run fsck
    mount_all --late

# Logging to file
service vendor.dmesg_to_file /system/bin/sh -c "dmesg > /data/logs/dmesg.txt"
    user system
    group system
    seclabel u:r:logd:s0
    oneshot
    disabled

service vendor.logcat_to_file /system/bin/logcat -f /data/logs/logcat.txt
    user system
    group system log
    seclabel u:r:logd:s0
    disabled

on late-init
    mkdir /data/logs 0775 system log encryption=None
    start vendor.logcat_to_file

on boot
    start vendor.dmesg_to_file

on property:sys.bootstat.first_boot_completed=1
    stop vendor.dmesg_to_file
    stop vendor.logcat_to_file
