# ATA
CONFIG_ATA=y
CONFIG_ATA_GENERIC=y
CONFIG_ATA_PIIX=y
CONFIG_PATA_ACPI=y
CONFIG_SATA_AHCI=y
CONFIG_SATA_AHCI_PLATFORM=y

# Block device
CONFIG_BLK_DEV_SR=y

# DMA
CONFIG_DW_DMAC=y
CONFIG_INTEL_IDMA64=y
CONFIG_INTEL_IOATDMA=y

# DMA BUF
CONFIG_DMABUF_HEAPS_SYSTEM=y

# DRM
CONFIG_DRM_FBDEV_EMULATION=y

# EFI
CONFIG_EFI_STUB=y

# Filesystem
CONFIG_EFIVAR_FS=y
CONFIG_ISO9660_FS=y
CONFIG_NTFS_FS=y

# Framebuffer
CONFIG_FB=y
CONFIG_FB_EFI=y
CONFIG_FB_VESA=y

# Framebuffer console
CONFIG_FRAMEBUFFER_CONSOLE=y

# HW random
CONFIG_HW_RANDOM_AMD=y
CONFIG_HW_RANDOM_INTEL=y

# Mouse
CONFIG_MOUSE_PS2=y

# Networking
CONFIG_RFKILL=y

# Powercap
CONFIG_INTEL_RAPL_TPMI=y
CONFIG_INTEL_RAPL=y

# Processor
CONFIG_NUMA=y
CONFIG_X86_AMD_PLATFORM_DEVICE=y
CONFIG_X86_CPU_RESCTRL=y
CONFIG_X86_INTEL_MID=y
CONFIG_X86_INTEL_TSX_MODE_AUTO=y
CONFIG_X86_MCE=y

# USB
CONFIG_USB_OHCI_HCD=y
CONFIG_USB_OTG=y
CONFIG_USB_ROLES_INTEL_XHCI=y
CONFIG_USB_UHCI_HCD=y
CONFIG_USB_XHCI_PCI_RENESAS=y

# Virtual Terminal
CONFIG_VT=y
CONFIG_VT_HW_CONSOLE_BINDING=y
