CONFIG_8139CP=m
CONFIG_8139TOO=m
CONFIG_ALX=m
CONFIG_AMD_XGBE=m
CONFIG_ATL1C=m
CONFIG_ATL1E=m
CONFIG_ATL1=m
CONFIG_ATL2=m
CONFIG_B44=m
CONFIG_BNX2X=m
CONFIG_BNXT=m
CONFIG_CNIC=m
CONFIG_E1000E=m
CONFIG_E1000=m
CONFIG_E100=m
CONFIG_I40E=m
CONFIG_ICE=m
CONFIG_IGB=m
CONFIG_IGC=m
CONFIG_IXGBE=m
CONFIG_R8169=m
CONFIG_SKGE=m
CONFIG_SKY2=m
CONFIG_TIGON3=m
