CONFIG_ACERHDF=y
CONFIG_ACER_WIRELESS=y
CONFIG_ACER_WMI=y
CONFIG_ACPI_CMPC=y
CONFIG_ACPI_QUICKSTART=y
CONFIG_ACPI_TOSHIBA=y
CONFIG_ADV_SWBUTTON=y
CONFIG_ALIENWARE_WMI=y
CONFIG_AMD_3D_VCACHE=y
CONFIG_AMD_HSMP_ACPI=y
CONFIG_AMD_HSMP_PLAT=y
CONFIG_AMD_ISP_PLATFORM=y
CONFIG_AMD_PMC=y
CONFIG_AMD_WBRF=y
CONFIG_AMILO_RFKILL=y
CONFIG_APPLE_GMUX=y
CONFIG_ASUS_LAPTOP=y
CONFIG_ASUS_NB_WMI=y
CONFIG_ASUS_TF103C_DOCK=y
CONFIG_ASUS_WIRELESS=y
CONFIG_ASUS_WMI=y
CONFIG_BARCO_P50_GPIO=y
CONFIG_COMPAL_LAPTOP=y
CONFIG_DASHARO_ACPI=y
CONFIG_DCDBAS=y
CONFIG_DELL_LAPTOP=y
CONFIG_DELL_PC=y
CONFIG_DELL_RBTN=y
CONFIG_DELL_RBU=y
CONFIG_DELL_SMBIOS=y
CONFIG_DELL_SMO8800=y
CONFIG_DELL_UART_BACKLIGHT=y
CONFIG_DELL_WMI_AIO=y
CONFIG_DELL_WMI_DDV=y
CONFIG_DELL_WMI_LED=y
CONFIG_DELL_WMI_PRIVACY=y
CONFIG_DELL_WMI_SYSMAN=y
CONFIG_DELL_WMI=y
CONFIG_EEEPC_LAPTOP=y
CONFIG_EEEPC_WMI=y
CONFIG_FUJITSU_LAPTOP=y
CONFIG_FUJITSU_TABLET=y
CONFIG_GIGABYTE_WMI=y
CONFIG_GPD_POCKET_FAN=y
CONFIG_HP_ACCEL=y
CONFIG_HP_BIOSCFG=y
CONFIG_HP_WMI=y
CONFIG_HUAWEI_WMI=y
CONFIG_IBM_RTL=y
CONFIG_INSPUR_PLATFORM_PROFILE=y
CONFIG_INTEL_ATOMISP2_LED=y
CONFIG_INTEL_ATOMISP2_PM=y
CONFIG_INTEL_BXTWC_PMIC_TMU=y
CONFIG_INTEL_HID_EVENT=y
CONFIG_INTEL_IFS=y
CONFIG_INTEL_INT0002_VGPIO=y
CONFIG_INTEL_IPS=y
CONFIG_INTEL_MRFLD_PWRBTN=y
CONFIG_INTEL_OAKTRAIL=y
CONFIG_INTEL_PLR_TPMI=y
CONFIG_INTEL_PMC_CORE=y
CONFIG_INTEL_PMT_CRASHLOG=y
CONFIG_INTEL_PMT_TELEMETRY=y
CONFIG_INTEL_PUNIT_IPC=y
CONFIG_INTEL_RST=y
CONFIG_INTEL_SAR_INT1092=y
CONFIG_INTEL_SCU_IPC_UTIL=y
CONFIG_INTEL_SCU_PCI=y
CONFIG_INTEL_SCU_PLATFORM=y
CONFIG_INTEL_SDSI=y
CONFIG_INTEL_SKL_INT3472=y
CONFIG_INTEL_SMARTCONNECT=y
CONFIG_INTEL_SPEED_SELECT_INTERFACE=y
CONFIG_INTEL_TPMI=y
CONFIG_INTEL_TURBO_MAX_3=y
CONFIG_INTEL_UNCORE_FREQ_CONTROL=y
CONFIG_INTEL_VBTN=y
CONFIG_INTEL_VSEC=y
CONFIG_INTEL_WMI_SBL_FW_UPDATE=y
CONFIG_INTEL_WMI_THUNDERBOLT=y
CONFIG_LENOVO_WMI_CAMERA=y
CONFIG_LENOVO_WMI_HOTKEY_UTILITIES=y
CONFIG_LENOVO_YMC=y
CONFIG_LG_LAPTOP=y
CONFIG_MEEGOPAD_ANX7428=y
CONFIG_MSI_EC=y
CONFIG_MSI_LAPTOP=y
CONFIG_MSI_WMI_PLATFORM=y
CONFIG_MSI_WMI=y
CONFIG_NVIDIA_WMI_EC_BACKLIGHT=y
CONFIG_OXP_EC=y
CONFIG_PANASONIC_LAPTOP=y
CONFIG_PCENGINES_APU2=y
CONFIG_PORTWELL_EC=y
CONFIG_SAMSUNG_GALAXYBOOK=y
CONFIG_SAMSUNG_LAPTOP=y
CONFIG_SAMSUNG_Q10=y
CONFIG_SEL3350_PLATFORM=y
CONFIG_SENSORS_HDAPS=y
CONFIG_SERIAL_MULTI_INSTANTIATE=y
CONFIG_SIEMENS_SIMATIC_IPC=y
CONFIG_SILICOM_PLATFORM=y
CONFIG_SONY_LAPTOP=y
CONFIG_SONYPI_COMPAT=y
CONFIG_SYSTEM76_ACPI=y
CONFIG_THINKPAD_ACPI=y
CONFIG_THINKPAD_LMI=y
# CONFIG_TOPSTAR_LAPTOP is not set
CONFIG_TOSHIBA_BT_RFKILL=y
CONFIG_TOSHIBA_HAPS=y
CONFIG_TOSHIBA_WMI=y
CONFIG_TUXEDO_NB04_WMI_AB=y
CONFIG_WINMATE_FM07_KEYS=y
CONFIG_WIRELESS_HOTKEY=y
CONFIG_X86_ANDROID_TABLETS=y
CONFIG_X86_PLATFORM_DRIVERS_DELL=y
CONFIG_X86_PLATFORM_DRIVERS_HP=y
CONFIG_XIAOMI_WMI=y
CONFIG_YOGABOOK=y
CONFIG_YT2_1380=y
