CONFIG_ACPI_AC=y
CONFIG_ACPI_APEI_GHES=y
CONFIG_ACPI_APEI_PCIEAER=y
CONFIG_ACPI_APEI=y
CONFIG_ACPI_BATTERY=y
CONFIG_ACPI_BGRT=y
CONFIG_ACPI_DOCK=y
CONFIG_ACPI_DPTF=y
CONFIG_ACPI_FAN=y
CONFIG_ACPI_FPDT=y
CONFIG_ACPI_HMAT=y
CONFIG_ACPI_HOTPLUG_MEMORY=y
CONFIG_ACPI_PROCESSOR_AGGREGATOR=y
CONFIG_ACPI_SBS=y
CONFIG_ACPI_TAD=y
CONFIG_ACPI_THERMAL=y
CONFIG_ACPI_VIDEO=y
CONFIG_ENERGY_MODEL=y
CONFIG_INTEL_IDLE=y
CONFIG_PMIC_OPREGION=y
CONFIG_X86_ACPI_CPUFREQ=y
