# DRM
CONFIG_DRM_VIRTIO_GPU=y
CONFIG_DRM_VMWGFX=y
CONFIG_DRM_VMWGFX_FBCON=y

# HW random
CONFIG_HW_RANDOM_VIRTIO=y

# SCSI
CONFIG_SCSI_VIRTIO=y

# Sound
CONFIG_SND_VIRTIO=y

# VirtIO
CONFIG_VIRTIO_BALLOON=y
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_VIRTIO_INPUT=y
CONFIG_VIRTIO_NET=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_VSOCKETS=y

# Virtualization
CONFIG_VIRT_DRIVERS=y

# VirtualBox
CONFIG_VBOXGUEST=y
CONFIG_VBOXSF_FS=y

# VMware
CONFIG_VMWARE_BALLOON=y
CONFIG_VMWARE_PVSCSI=y
CONFIG_VMWARE_VMCI=y
CONFIG_VMXNET3=y
